.row {
  display: flex;
}

button {
  text-decoration: none;
  
  &:hover {
    opacity: .6s;
  }
}

.box {
  display: flex;
  flex-direction: column;
}
.geolonia-svg-map
{
  width: 100%;
}

.prefecture
{
  fill: #f7f7f7;
  stroke: #666666;
  cursor: pointer;

  &:hover {
    fill: red;
  }
}

.geolonia-svg-map .boundary-line
{
  stroke: #999999;
}

/*仮のスタイル*/

#map {
  width: calc(100% - 300px);
  margin-left: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100vh;
  background-color: #CCCCCC;
  overflow-y: scroll;

  &_message {
    width: 100%;
    height: 12px;
    margin-top: 16px;

    &_txt {
      width: 100%;
      font-size: 12px;
      line-height: 12px;
      color: black;
      margin: 0;
    }
  }

  &_today {
    position: fixed;
    top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    background-color: gray;

    &_btn {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      &_delete {
        width: 36px;
        margin-right: 8px;
        background-color: white;
      }
    }
  }

  &_repetition {
    display: flex;
  }
}

.transition {
  transition: .3s;
}